{% extends 'main/base.html' %}
{% load humanize %}
{% load custom_filters %}
{% block content %}
    <h3 class="mb-5">
        Selling
        <a href="{% url 'account_selling_search' %}">
            <button class="btn btn-primary float-end">
                <i class="bi bi-file-earmark-plus"></i> List new game
            </button>
        </a>
    </h3>

    <h4>Active listings</h4>
    {% if active %}

        <div class="row row-cols-6 g-3 mt-3">
            {% for listing in active.all %}
                <div class="col-2">
                    <div class="card h-100">
                        <div class="card-header">
                            <a class="card-link" href="{% url 'account_selling_edit' slug=listing.slug %}">Edit</a>
                            <a class="card-link" href="{% url 'account_selling_expand' slug=listing.slug %}">Add expansion</a>
                            <a class="card-link" href="{% url 'for_sale_detail' slug=listing.slug %}">View</a>
                        </div>
                        <img src="{{ listing.game.img }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ listing.game.name }}</h5>
                            <p class="card-text">{{ listing.price_fmt }}</p>
                            {% if listing.bundle.count %}
                                <dl>
                                    <dt>Including:</dt>
                                    <dd>{% for exp in listing.bundle.all %}
                                        <a class="text-danger" href="{% url 'account_selling_expand_remove' slug=listing.slug pk=exp.id %}" onclick="return confirm('Are you sure you want to remove this?');">
                                            <i class="bi bi-dash-circle"></i></a> {{ exp.name }} ({{ exp.year }})<br/>
                                    {% endfor %}</dd>
                                </dl>
                            {% endif %}
                            <p>{{ listing.comment|slice_words:20 }}</p>
                        </div>
                        <div class="card-footer text-xs">
                            Condition: {{ listing.condition }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% else %}
        <div class="alert alert-light">You have no listings. Use the List new game button
            in the top right of the page to add your board game you want to sell.
        </div>
    {% endif %}
{% endblock %}
