.text-sm {
    font-size: 0.85em;
}

.text-xs {
    font-size: 0.75em;
}

.clr-lighter {
    opacity: 0.7;
}

.row-cols-9 .col {
    max-width: 11.1%;
}

.p-close p {
    margin: 0;
    padding: 0;
}
